@model EnderecoModel
@{

    ViewData["Title"] = "Cadastrar endereços";
}

<div class="text-center">
    <h1 class="display-4">Cadastrar endereço</h1>
    <br />
</div>

<form asp-controller="Endereco" asp-action="Create" method="post">
    <div class="mb-3">
        <label for="cep">CEP</label>
        <input type="number" class="form-control" placeholder="Digite o cep" asp-for="Cep">
    </div>
    <div class="mb-3">
        <label for="logradouro">Logradouro</label>
        <input type="text" class="form-control" placeholder="Digite o logradouro" asp-for="Logradouro">
    </div>
    <div class="mb-3">
        <label for="complemento">Complemento</label>
        <input type="text" class="form-control" placeholder="Digite o complemento" asp-for="Complemento">
    </div>
    <div class="mb-3">
        <label for="bairro">Bairro</label>
        <input type="text" class="form-control" placeholder="Digite o bairro" asp-for="Bairro">
    </div>

    <div class="mb-3">
        <label for="cidade">Cidade</label>
        <input type="text" class="form-control" placeholder="Digite a cidade" asp-for="Cidade">
    </div>

    <div class="mb-3">
        <label for="uf">UF</label>
        <input type="text" class="form-control" placeholder="Digite a UF" asp-for="Uf">
    </div>

    <div class="mb-3">
        <label for="numero">Numero</label>
        <input type="text" class="form-control" placeholder="Digite o número" asp-for="Numero">
    </div>

    <button type="submit" class="btn btn-primary">Cadastrar</button>
    <a role="button" class="btn btn-secondary" asp-controller="Endereco" asp-action="Index">Voltar</a>
</form>
