@model HomeModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Seja bem-vindo, @Model.Nome!</h1>
    <p>Navegue pelos tópicos para gerenciar seus endereços.</p>
</div>
